.image {
  margin-bottom: 20px;
}

.image_container {
  width: 97%;
  margin: 2em auto;
}

img, video {
  border-style: solid;
  border-width: 3px;
  border-color: black;
}

.cols {
    -moz-column-count:3;
    -moz-column-gap: 3%;
    -moz-column-width: 30%;
    -webkit-column-count:3;
    -webkit-column-gap: 3%;
    -webkit-column-width: 30%;
    column-count: 4;
    column-gap: 3%;
    column-width: 30%;
}
